.row
  = question_col_offset(@question_set.questions.size)
  - @question_set.questions.each_with_index do |q, index|
    .question{class: question_col_class(@question_set.questions.size)}
      = image_tag q.question_image, :class => 'img-responsive'
      %br
      %span.option_text= "Option #{index+1}"
      = f.fields_for :responses, @response_set.responses.build do |r|
        = r.radio_button :question_id, q.id
  = question_col_offset(@question_set.questions.size)
