.container
  .header.clearfix
    %nav
      %ul.nav.nav-pills.pull-right
        %li
          = link_to 'Home', '#'
        %li
          = link_to 'About', '#'
        %li
          = link_to 'Contact', '#'
    %h3.text-muted
      PEPPER Trial Preference Instrument
  .jumbotron
    %p.lead
      Choice-based Conjoint Analysis with Probability Display
    .row
      .col-md-4
        = link_to 'About this Study', '#', class: 'btn btn-lg btn-success'
      .col-md-4
        = link_to 'Take Survey', '#', class: 'btn btn-lg btn-success'
  .row
    .col-md-6
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    .col-md-6
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4
        Subheading
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
