#default-message
  .modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Recovery without complications
        .modal-body
          = image_tag 'recovery_no_issue.jpg', class: 'modal-image'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      / /.modal-content
    / /.modal-dialog
  / /.modal
#message
.container.index-page
  .header.clearfix
  .panel.panel-default
    .panel-heading
      How to take this survey
    .panel-body
      .row
        .col-md-12
          %ul
            %li In this section, we ask you to consider scenarios involving two hypothetical treatments, treatment A and treatment B. In each scenario below, treatment A and B will have different combinations of risks. Please select on the scale below which treatment you prefer, treatment A or B.
            %li The risk of a particular outcome is presented using the colored icon. To learn more about the outcome and its risk, please click on the icon.

= form_for @response_set, url: survey_update_path(study_identifier: @survey.study_identifier, user_token: @response_set.user_token) do |f|
  .row
    = render "set_header"
  .row
    = render "set", f: f
  .row
    .col-md-8.col-md-offset-2.submit_choice
      = f.submit "Save My Choice", class: "btn btn-primary btn-block btn-lg save-response"
  .row
    .col-md-8.col-md-offset-2.submit_choice= render 'progress_bar'
.add-space-at-bottom
